.c-Create-form {
  max-width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;

  @media (max-width: $small) {
    max-width: 300px;
  }

  .wrapper {
    display: flex;
    justify-content: center;;

    .field:nth-child(2n) {
      padding-left: 30px;
    }
  }
}